[Unit]
Description=Celery Worker
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/node
ExecStart=/home/ubuntu/node/celery_worker_start.sh
Restart=always
EnvironmentFile=/home/ubuntu/node/.env


[Install]
WantedBy=multi-user.target