[Unit]
Description=Naptha Hub Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/daimon/hub
ExecStart=/home/ubuntu/daimon/hub/.venv/bin/poetry run python hub/main.py
Restart=always
RestartSec=3
EnvironmentFile=/home/ubuntu/daimon/hub/.env

[Install]
WantedBy=multi-user.target
