[Unit]
Description=Naptha Node Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/node/node
ExecStart=/home/ubuntu/node/.venv/bin/poetry run python main.py
Restart=always
RestartSec=3
EnvironmentFile=/home/ubuntu/node/.env

[Install]
WantedBy=multi-user.target
